<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="css/style.css">
    <meta charset="UTF-8">

    <title>About</title>
    <link  rel="icon" href="/images/weather.png">

</head>
<body>
<div class="main-content">

    {{>header}}
    <p class="p" style="font-size: 20px;">This site was created by Raj Baindra. It fetch data from two APIs , mapbox.com and weatherstack.com and provide the accurate forecast!</p>

    <img class="potrait-img" src="images/profile1-img.png ">

</div>
{{>footer}}


</body>
</html>