<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="css/style.css">
    <meta charset="UTF-8">
    <title>About</title>
    <link  rel="icon" href="/images/weather.png">

</head>
<body>
<div class="main-content">

    {{>header}}
    <img class="potrait-img" src="images/profile1-img.png ">

</div>
{{>footer}}


</body>
</html>